/* ============================================================================= */

.mask p { display: inline-block; }

/* ============================================================================= */

.post-password-required input { display: inline-block; }

/* ============================================================================= */

.page-template-template-blog-php h3,
.page-template-template-blog-php .clearfix p
{
	padding-left: 0px;
}

/* ============================================================================= */

.testo img.feat-img-resume-blog-type-2
{
    -webkit-border-radius: 0px;
            border-radius: 0px;
		
          background-clip: padding-box;
}

/* ============================================================================= */

.rm-close { -webkit-filter: none; }

/* ============================================================================= */

.social li a.dribbble:before { content: 'S'; }
.social li a.dribbble:hover { background-color:#EA4C89; }

/* ============================================================================= */

.social li a.tumblr:before { content: '\\'; }

/* ============================================================================= */